<html>
    <head>
        <style>
            body{
                background: url('https://media.discordapp.net/attachments/718027263882297416/763053305415860224/Battlecord_-_Website_BG.png');
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                font-family: sans-serif;
                color: white;
                text-align: center;
            }

            .column {
                float: left;
                width: 25%;
            }

            .row:after {
                content: "";
                display: table;
                clear: both;
            }

            .attack-container{
                width: 33%;
            }

            @media screen and (max-width: 600px) {
                .column {
                    width: 50%;
                }
                .attack-container{
                    width: 100%;
                }
            }
        </style>
    </head>
    <body>
        <br>
        <h1><%= e.name %></h1>
        <br>
        <img src="<%= e.img %>">
        <div class="attack-container">
            <div class="row">
                <div class="column">

                </div>
                <div class="column">

                </div>
                <div class="column">

                </div>
                <div class="column">

                </div>
            </div>
        </div>

        <div class="login">
            
        </div>
    </body>
</html>